* {
    box-sizing: border-box;
}

.container {
    padding: 2rem 4rem;
    padding-bottom: 0;
    width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  

  /* Link styles: no underline, flex, baseline alignment, wrap */
  .title-link {
    text-decoration: none;
  }
  
  /* The main title (H1) */
  .title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    margin: 0;           
    font-size: 1.25rem;  
    font-weight: 900;    
    line-height: 1.2;
  }

  .uppercase {
    text-transform: uppercase;
  }

  
  .mr2 { 
    margin-right: 0.5rem; 
  }
  
  /* Gray text for "Worker Co-operative" */
  .gray {
    color: #666; 
    font-weight: 400;
  }

  .regular {
    font-weight: 500;
  }

/* Navigation */
nav {
    padding-left: 1rem;
    margin-left: 1rem;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 1.5rem;
}
nav li {
    display: inline;
}
nav a {
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    color: #555;
    font-size: 1rem;
    transition: color .15s ease-in;
    padding: 0 1rem;
}
nav a.active {
    color: #9900FC; 
    text-decoration: underline;
}
nav a:hover {
    text-decoration: underline;
    color: #9900FC; 
}
  
@media (min-width: 1024px) {
    .title {
        font-size: 1.5rem; 
    }
    .container, .title {
        flex-direction: row;
    }
    nav ul {
        margin-top: 0rem;
    }
    nav a {
        font-size: 1.5rem;
    }
  }
  
  