/* Global styles */
body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    max-width: 1280px;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
  }
  
  header {
    padding: 1rem;
    padding-left: 2rem;
    text-align: left;
  }
  
  header h1 {
    color: #9900FC;
    margin: 0;
    text-transform: lowercase;
    font-size: 3rem;
  }

  header h2 {
    color: #777777;
  }

  #metadata {
    background-color: #e0e0e0;
    padding: 1rem;
  }

  #freeform-text {
    margin-bottom: 2rem;
  }
  
  main {
    padding: 2rem;
  }
  
  #banner {
    color: #ffffff;
    background-color: #9900FC;
    border-left: 4px dotted #ffffff;;
    font-size: 1.125rem;
    padding: 1rem;
    margin-bottom: 2rem;
    display:none;
  }
  
  #controls {
    margin: 1rem 0;
  }
  
  #scores-table {
    min-width: 50vw;
    border-collapse: collapse;
    margin-top: 1rem;
    table-layout: fixed;
    border-spacing: 0;
  }

  #scores-table td {
    position: relative; 
  }
  
  #scores-table th, #scores-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: word-wrap;
  }

  table tr td:not(:first-child),
  table tr th:not(:first-child) {
    max-width: 100px;
  }

  
  #scores-table th {
    background-color: #e0e0e0;
    font-weight: bold;
  }

  #scores-table td:hover {
    background-color: #f9f9f9;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #eeeeee;
    margin-top: 2rem;
  }

/* Navigation */
nav {
  position: fixed;
  padding: 10px;
  padding-right: 1rem;
  background-color: #f4f4f4;
  right: 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}
nav li {
  display: inline;
}
nav a {
  text-decoration: none;
  font-weight: bold;
}
nav a.active {
  color: #9900FC; 
  text-decoration: underline;
}
nav a:hover {
  text-decoration: underline;
}


/* Form styles */
#exception-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#exception-form #message {
  max-width: 500px;
  min-width: 300px;
}

#exception-form #evidence {
  max-width: 500px;
  min-width: 300px;
}

input,
textarea {
  margin-bottom: 1rem;
}
