/* Global styles */
body {
    font-family: monospace;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
  }
  
  header {
    padding: 1rem;
    padding-left: 2rem;
    text-align: left;
  }
  
  header h1 {
    color: #9900FC;
    margin: 0;
    text-transform: lowercase;
    font-size: 3rem;
  }

  header h2 {
    color: #777777;
  }

  #metadata {
    background-color: #e0e0e0;
    padding: 1rem;
  }

  #freeform-text {
    margin-bottom: 2rem;
  }
  
  main {
    padding: 2rem;
  }
  
  #banner {
    color: #ffffff;
    background-color: #9900FC;
    border-left: 4px dotted #ffffff;;
    font-size: 1.125rem;
    padding: 1rem;
    margin-bottom: 2rem;
    display:none;
  }
  
  #controls {
    margin: 1rem 0;
  }
  
  #scores-table {
    min-width: 50vw;
    border-collapse: collapse;
    margin-top: 1rem;
    table-layout: fixed;
    border-spacing: 0;
  }

  #scores-table td {
    position: relative; 
  }
  
  #scores-table th, #scores-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: word-wrap;
  }

  table tr td:not(:first-child),
  table tr th:not(:first-child) {
    max-width: 100px;
  }

  
  #scores-table th {
    background-color: #e0e0e0;
    font-weight: bold;
  }

  #scores-table td:hover {
    overflow: visible;
    white-space: normal;
    background-color: #f9f9f9;
    position: relative;
    z-index: 10;
  }

  /* Ensure the hover content background covers the full area */
  #scores-table td:hover::before {
    content: attr(data-content); 
    position: absolute;
    padding: 8px;
    top: 0;
    left: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    z-index: -1;
    width: max-content;
    min-width: 100%;
    box-sizing: border-box;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #eeeeee;
    margin-top: 2rem;
  }
  