<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ validator_name }} - Achievements</title>
  <meta property="og:title" content="{{ validator_name }} - Achievements">
  <meta property="og:description" content="Total Points: {{ total_points }} | Perfection Bonus: {{ perfection_bonus }}">
  <meta property="og:image" content="{{ social_card }}">
  <meta property="og:type" content="website">
  <link rel="stylesheet" href="../../assets/styles.css">
</head>
<body>
    <main>
        <h1>{{ validator_name }}</h1>
        <p>Date Range: {{ date_range }}</p>
        <p>Perfection Bonus: {{ perfection_bonus }}</p>
        <p>Total Points: {{ total_points }}</p>
        <p><a class="purple" href="../../">Back to Main Page</a></p>
    </main>
</body>
</html>
